@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Playwrite+HU&display=swap');


body{   
     overflow-x: hidden;
    perspective: 700px;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Catamaran", sans-serif;

}
nav li{cursor: pointer;}
/* nav-1 */
.nav-1{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 2px solid #DFE7E8;
    overflow-y: hidden;
}
/* ul in nav-1 */
 .nav-1 ul ,.nav-2 ul{
    list-style: none;
    display: flex ; 
}

.nav-1 ul li,.nav-2 ul li{
    padding:  0 10px;
    margin-right: 3px;
    font-weight:600;
    /* color: #677581; */
    color:#293B4D;
    /* Color:rgb(10, 30, 51); */
    font-size:16px ;
    line-height: 16px;
    position: relative;
    transition: .5s;
}
.nav-1 ul li{  padding:  0 8px;}

.nav-1 ul li::before{
content: "";
position: absolute;
left:0;
height: 100%;
width: 3px;
bottom: -200%;
/* background-color:rgba(103, 117, 129,.5); */
background-color: #E46A4B;
transition: .7s;
}
.nav-1 ul li::after{
    content: "";
    position: absolute;
    right:0;
    height: 100%;
    width: 3px;
    top:-200%;
    /* background-color :rgba(103, 117, 129,.5);  */
    background-color: #E46A4B;
     transition: .5s;
    }
    .nav-1 ul li:hover:before{bottom: 0;}
    .nav-1 ul li:hover:after{top: 0;}

    /* .nav-1 ul {transform-style: preserve-3d;} */
    .nav-1 ul li i{transition: .3s  ; }
    .nav-1 ul li:hover i{
    transform: rotateY(180deg);
   
    /* color:rgba(103, 117, 129,.5) */
    color: #E46A4B;
       
    }
    /* nav-2 */
    .nav-2{
        display: flex;
        /* justify-content: space-around; */
        justify-content: space-between;
        align-items: center;
        padding: 15px 5%;
    }
    .nav-2 img{ transition: .5s ease;}
     .nav-2 img:hover{animation: logoTrans .5s ease;}
     @keyframes logoTrans {
        0%{transform: rotate(0) 
            scale(1);}
             
        30%{transform: rotate(-3deg) 
          
        }
              
        60%{transform: rotate(3deg) 
            
        }
            
        100%{transform: rotate(0) 
            scale(1);}
     }


    .nav-2 ul li{
        padding: 8px 12px;
        Color:rgb(10, 30, 51);
        font-size:18px ;
        font-weight: 600;
        margin-right: 5px;
        position: relative;
        text-align: center;
    }
     .nav-2 ul li span{ transition:.5s;}
    .nav-2 ul li .span1{
        position: absolute;
        left:0;
        bottom:0;
        width:3px;
        height:0%;
        /* background-color: rgba(103, 117, 129,.5); */
        background-color: #E46A4B;
    }

    .nav-2 ul li .span2{
        position: absolute;
        right:0;
        top:0;
        width:3px;
        height:0%;
        /* background-color: rgba(103, 117, 129,.5); */
        background-color: #E46A4B;

    }
    .nav-2 ul li .span3{
        position: absolute;
        top:0;
        left:0;
        width:0%;
        height: 3px;
        /* background-color: rgba(103, 117, 129,.5); */
        background-color: #E46A4B;

    }
    .nav-2 ul li .span4{
        position: absolute;
        bottom:0;
        right:0;
        width:0%;
        height: 3px;
        /* background-color: #B0C8C9; */
        /* background-color: rgba(103, 117, 129,.5); */
        background-color: #E46A4B;


    }
   

    .nav-2 ul li:hover .span1 , .nav-2 ul li:hover .span2{height:100%;}
    .nav-2 ul li:hover .span3 , .nav-2 ul li:hover .span4{ width:100%;}
    
    .nav-2  .nav-2-icon i{
        color: #293B4D;
        transition: .4s ease;
    }
    .nav-2  .nav-2-icon i:hover{ 
        /* color: #677581; */
        color: #E46A4B;
        transform: scale(1.15)
        rotate(-8deg);

    }
    .nav-2  .nav-2-icon .cart{position: relative;}
    .nav-2  .nav-2-icon .cart:after{
        content: "2";
        position: absolute;
        bottom:90%;
        left:20%;
        /* background-color:#293B4D; */
        background-color: #E46A4B;
        color:white;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        transition: .5s;

    }
    .nav-2  .nav-2-icon .cart:hover:after{  bottom:100%;}
.nav-2 .dropMenue{ 
    margin-top:-5px; 
    position:  relative;
   
 }
.nav-2 .dropMenue  .neastedList{
    position: absolute;
    z-index: 100;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: flex-start;
    /* opacity:0; */
    transform: scale(0);
    left:-70%;
    top:120%;
    width:360px;
    height:220px;
     background-color:  #f7f7f7; 
     border-radius: 10px;
     border:  2px solid #B0C8C9;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 12px;
    transition: .5s;
   
}
.nav-2 .dropMenue  .neastedList li{
    font-size: 16px;
    text-align: start;
    transition:  .5s .2s ;
    color: black;
    /* color: #293B4D; */


    
}
.nav-2 .dropMenue  .neastedList li:hover{
    transform:translateX(5px)
     scale(1.03);
    /* color: rgb(41, 59, 77); */
     color: #293B4D; 
}
.nav-2 .dropMenue  .neastedList .neastedHeader{
    color: rgb(41, 59, 77);
    position: relative;
    font-size: 18px;
    margin-bottom: 5px;
}


.nav-2 .dropMenue  .neastedList .neastedHeader::after{
    position: absolute;
    top:100%;
    left:10px;
    content: "";
    height: 2px;
    width: 115px;
    background-color:rgba(41, 59, 77,.9);
}
.nav-2 .dropMenue:hover  .neastedList { 
     transform: scale(1);
    }



    .nav-3 {
        padding: 9px 0;
        background-color:#293B4D

        /* background-color:rgba(103, 117, 129,.6); */

    }
    .nav-3 h5{
        font-size:18px ;
        font-weight: 600;
        text-align: center;
        word-spacing: 2px;
        color :white;
       
    }

    .nav-3 h5 span{
        color: #E46A4B;
        /* color:#B0C8C9; */
        /* border-bottom: 1px solid #B0C8C9;  */
        border-bottom: 1px solid #E46A4B;
        
        transition: .3s;
        margin-left: 5px;
        cursor: pointer;
     }
    .nav-3 h5 span:hover{word-spacing:5px;}
    .header{
        height: 75vh;
        width: 100vw;
        background-color:#f7f7f7;
        background-size: 100% 100%;
        background-position: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* font-family: "Playwrite HU" !important; */

    }

    .header .caption{  
       width: 38%;
       text-align: center;
         /* font-family: "Playwrite HU ", 'cursive' !important; */
        /* font-style: italic; */

    }
    .header  h1{
        font-family: "Playball", 'cursive' !important;
        font-size: 48px;
        font-weight: 700;
        /* font-style: italic; */
        color: #E46A4B;
    }
       
    .header  h2{
        font-family: "Playball", 'cursive' !important;
        font-size: 40px;
        font-weight: 500;
        color: #293B4D;
        padding: 5px 0 0;
    }

    .header  p{
        font-size: 16px;
        padding: 10px 0;
        color: #677581
    }
    .header button{
        background-color: #E46A4B;
        padding: 10PX 20px;
        border-radius: 10px;
        border:  1px dashed white;
        margin: 10px 0;
        transition: .4s;
    }
    .header button a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: 600;
    }
    .header button a i{margin-left: 5px;}
    .header button:hover{
        background-color: #293B4D;
         transform: scale(1.05);
         box-shadow: 0 8px 18px rgba(41,59,77,.2);
        }
    .header  .img{
        width: 48%;
        height: 90%;
        animation: float 5s ease-in-out infinite;

    }
    @keyframes float{
        0% ,100%{transform: translateY(0);}
        50%{transform: translateY(-10px);}
    }
    /* //////////////////////////////////////////////////////////////////////////////// */
    /*  category */
    .category{padding: 50px 0;}
    .category .container ,.bestSeller .container, footer .container ,.ourSrevice .container,.beforFooter .container{
        width: 90%;
        height: 100%;
        margin: auto;
    }
    .category .container .boxes{
        height: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .category .container .boxes .boxChild{
        width:30%;
        height: 500px;
        border-radius: 15px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        position: relative;
        overflow: hidden;
        transition: .5s;
    }
    .category .container .boxes .boxChild::after{
        content: "";
        position: absolute;
        height: 25%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(41,59,77,.2);
        /* background-color: rgba(103, 117, 129,.2); */
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;      
        
        opacity: 0;
        transition: .5s;
    }
       .category .container .boxes .boxChild:hover::after{opacity: 1;}
    .category .container .boxes .boxChild img{border-radius: 15px; transition:.6s ease ;} 
    .category .container .boxes .boxChild .caption{
        position: absolute;
        top:87%;
        left:24%;
        text-align: center;
        transition: .7s;
        z-index: 10;
      
    }
    .category .container .boxes .boxChild:hover .caption{ top:75%;}
    
    .category .container .boxes .boxChild .caption h2{
         font-size: 34px;
         font-weight: 700px;
         padding-bottom: 5px ;
         color: white;
      
    }
    .category .container .boxes .boxChild:hover img{scale: 1.05;}
    .category .container .boxes .boxChild .caption a{
        font-size: 18px;
        font-weight: 500;
        color:white;
        text-decoration: none;
        border-bottom: 1px solid white ;
        transition: .3s;
        cursor: pointer;
      
       
   }
   .category .container .boxes .boxChild .caption  a:hover{ word-spacing: 3px;}
      /* ///////////////////////////////////////////////////// */
   /* bestSeller */
   .bestSeller {padding: 40px 0;}
   
   .bestSeller .bsetSelleTitle{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 3px solid #DFE7E8;
   
   }
   .bestSeller .bsetSelleTitle h3{ 
     color:#293B4D;
     font-size: 24px; 
     font-weight: 600;

}
   .bestSeller .bsetSelleTitle ul{
     list-style: none;
      display: flex;
      position: relative;
      color:#293B4D;
      font-size: 18px; 
      font-weight: 500; 
    }

   .bestSeller .bsetSelleTitle ul li{
    margin: 0 10px;
      position: relative;
      cursor: pointer;
    }
   .bestSeller .bsetSelleTitle ul li::after{
    content: "";
    position: absolute;
    top:125%;
    left:5px;
    height: 3px;
    width:100%;
    opacity: 0;
    background-color: #E46A4B;
    transition: .3s;


   }
   .bestSeller .bsetSelleTitle ul li:hover:after{opacity: 1;;}


   .bestSeller .bsetSelleTitle ul li:nth-child(3){color: #E46A4B;}
   .bestSeller .bsetSelleTitle ul li:nth-child(3):after{opacity: 1;}
   .bestSeller .boxParent{
    padding: 20px 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;}
   

    .bestSeller .boxParent .arrow,.collectionParent .arrow{
        cursor: pointer;
        font-size: 20px;
        padding: 10px;
       border-radius: 50%;
       margin-top: -100px;
       border: 2px dashed  #677581  ;
       color:#293B4D;
       transition: .3s ease;
       /* opacity: 0; */
    }
    .bestSeller .arrow:hover,.collectionParent .arrow:hover{color:#E46A4B;transform: scale(1.08);}
   .bestSeller .boxChild{width:21%;}
   .fixedIMG{
       height: 400px;
       margin: 10px 0;
       background-size: cover;
       overflow: hidden;
       position: relative;
       border-radius: 10px;
       box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .fixedIMG1{ background-image: url(../img/1back.webp);}
    .fixedIMG2{ background-image: url(../img/2back.webp);}
    .fixedIMG3{ background-image: url(../img/33back.webp);}
    .fixedIMG4{ background-image: url(../img/4back.webp);}
   .bestSeller .boximg{ 
    height: 100%;
    position: relative;
    transition: 1s;
    transform-style: preserve-3d;  
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.bestSeller .boximg .front , .bestSeller .boximg .back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   
}
.bestSeller .boximg .front{
    z-index: 1;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.bestSeller .boximg .back{
 position: relative;
    transform: rotateY(180deg);
   
}
.bestSeller .fixedIMG:hover  .boximg  {transform: rotateY(180deg);}
    
    .bestSeller .boxChild{
        display: flex;
        flex-direction: column;
    }
    .bestSeller  .overlayIcons ,.collectionParent .collectionBox .overlayIcons{
        text-align: center;
        padding: 5px ;
        width: 60%;
        margin: auto;
        z-index: 100;
        transition: .7s;
        display: none;
        position: absolute;
        top:78%;
        left:-50%;
        right: -50%;
        background-color: rgba(240, 248, 255,.9);
        border-radius: 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      
    }
    .bestSeller  .overlayIcons i ,.collectionParent .overlayIcons i  {
        font-size: 22px;
        cursor: pointer;
        /* font-weight: 500; */
        padding: 10px;
        /* background-color: white; */
        border: 1px dashed  #677581  ;
        color:#293B4D;
        border-radius: 50%;
        margin-right: 5px;
        transition: .4S ease;
    }
    .bestSeller  .boxDescription,.collectionParent .boxDescription {
        text-align: center;
        padding: 5px 0;}
    .bestSeller  .boxDescription h4 ,.collectionParent .boxDescription h4 {
        color:#293B4D ;
        font-weight: 600;
        font-size: 18px;
        padding: 10px 0 0;
    }
    .bestSeller  .boxDescription h5,.collectionParent .boxDescription h5  {
        color:#677581;
        font-weight: 500;
        padding: 8px 0 0;
        font-size: 18px;
    }
    .bestSeller  .boxDescription  span,.collectionParent .boxDescription span{margin-left: 20px; color:#9aa5ad }
    .bestSeller .boximg:hover + .overlayIcons ,.collectionBox .fixedIMG:hover .overlayIcons{
       display: block;
        top:80%;
        transition: .7s;
    } 
     .bestSeller  .overlayIcons:hover, .collectionBox  .overlayIcons:hover  {
        display: block;
        transition: .7s;
     }
     .bestSeller  .overlayIcons i:hover ,.collectionBox .fixedIMG .overlayIcons i:hover 
      {background-color: #E46A4B;
         color: white;
           /* transform: scale(.9) */
             transform: translateY(-3px)
             scale(1.08) ;
           
           
        }
     .bestSeller .fixedIMG:hover ~.boxDescription h4 ,.collectionBox .fixedIMG:hover + .boxDescription h4  {color: #E46A4B;}



    /* ////////////////////////////////////////////////////////// */
    .testiminsial{
        padding: 40px 0;
        background-color: #f7f7f7;
        border-bottom: 3px solid #DFE7E8; 
        border-top: 3px solid #DFE7E8;  
    }
    .testiminsial h2{
        color:#293B4D ;
        font-weight: 600;
        font-size: 40px; 
        padding:  10px  0 0;  
        text-align: center;
        text-transform: capitalize;

    }
    .testiminsial .container,.newCollection .collectionParent  ,.ourSrevice .serviceParentBoxes{
        padding: 10px 0;
        margin: auto;
        width: 90%;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    .testiminsial .container i {
        font-size: 40px;
         font-weight: 600;  
         color:#293B4D ;
         margin-top: -100px;
         transition: .3s;
         cursor: pointer;
        }
    .testiminsial .container i:hover{
        color: #E46A4B; 
        transform: scale(1.05);}
    .testiminsial .container .center{
        text-align: center;
        width:60%;
    }
    .testiminsial .container .center p {
        font-size: 18px ;
        color: #677581;
    }

    .testiminsial  .imgCustomer{
        display: flex;
        width:30%;
        margin: 25px auto 20px;
        align-items: center;
    }

    .testiminsial .name{margin-left: 20px;  color:#293B4D ;}
    .testiminsial .name h5{
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
         color:#293B4D
         }
    .testiminsial .name h6{ 
         color: #677581;
         font-size: 20px;
         font-weight: 500;
         text-transform: capitalize;
        }

    /* //////////////////////////////////////////// */
.newCollection {padding: 40px 0;}

.newCollection  .container h2{
text-align: center;
font-size: 40px;
color: #293B4D;
font-weight: 600;
text-transform: capitalize;
}
.newCollection  .collectionBox{width: 21%;}

.collectionBox .fixedIMG{
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    height: 400px;
    position: relative;
}
.collectionBox .fixedIMG .overlayimg{
 position:absolute;
 border-radius: 10px;
 box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 top:-105%;
 left:0;
 right: 0;
 width: 100%;
 height: 100%;
 z-index: 100;
 background-size: cover;
 transition: .9s;
}

.collectionBox .fixedIMG:hover .overlayimg{ top:0;}
.collectionBox1 .fixedIMG .overlayimg{ background-image: url( ../img/1overlay.webp);}
.collectionBox2 .fixedIMG .overlayimg{ background-image: url( ../img/2overlay.webp);}
.collectionBox3 .fixedIMG .overlayimg{ background-image: url( ../img/3overlay.webp);}
.collectionBox4 .fixedIMG .overlayimg{ background-image: url( ../img/4overlay.webp);}



/* //////////////////////////////////////// */
/* service */
.ourSrevice{
    background-color:#f7f7f7;
    padding: 40px 0;
    border-top: 2px solid #DFE7E8 ;
    border-bottom: 2px solid #DFE7E8 ;
}
.ourSrevice h2{
    color:#293B4D ;
    font-weight: 600;
    font-size: 40px; 
    padding: 0 0 10px;  
    text-align: center;
    text-transform: capitalize;
}
.serviceParentBoxes .serviiceBox{width: 30%; }
.serviceParentBoxes .serviiceBox .imgcard{
    border-radius: 10px;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.serviceParentBoxes .serviiceBox .imgcard img{transition: .5s;}
.serviceParentBoxes .serviiceBox .imgcard img:hover{transform: scale(1.05);}

.serviceParentBoxes .serviceDescription {padding: 15px 5px 0;}
.serviceParentBoxes .serviceDescription h4{
    color:#293B4D ;
    font-weight: 500;
    font-size: 22px;
    cursor: pointer;
}
.serviceParentBoxes .serviceDescription p{
    padding: 3px 0;
    font-size: 18px;
    color: #677581;
    margin-bottom: 10px;
}
.serviceParentBoxes .serviceDescription a{
    color:#293B4D ;
    font-weight: 600;
    font-size: 18px;
    transition: .7s;
    line-height: 18PX;
 
}
.serviceParentBoxes .serviceDescription a:hover{font-size: 22px;}
.serviceParentBoxes .serviiceBox:hover .serviceDescription h4{color: #E46A4B;}


/* //////////////////////////////////////////////////////////////////////////////////////// */
.beforFooter{ padding: 40px 0 ;}
.beforFooter .container {width: 98%; margin: auto;}

.beforFooter .iconsParentBoxs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.beforFooter .iconsParentBoxs .iconBox{ width: 24%; text-align: center;}
.beforFooter .iconsParentBoxs .iconBox  .icon{
    position: relative;
    overflow: hidden;
}
.beforFooter .iconsParentBoxs .iconBox  .icon i{
    font-weight: 700;
    font-size: 60px;
    color:#293B4D ;
}
.beforFooter .iconsParentBoxs .iconBox  .icon .icon1{opacity: .4;}
.beforFooter .iconsParentBoxs .iconBox  .icon .icon2{
    position: absolute;
    top:100px;
    left: -50%;
    right: -50%;
    z-index: 10;
    transition: .5s;
}
.beforFooter .iconsParentBoxs .iconBox:hover .icon2{top:0 ;color:#E46A4B}
.beforFooter .iconsParentBoxs .iconBox  .iconsCaption{padding: 10px 0;}
.beforFooter .iconsParentBoxs .iconBox  .iconsCaption h5{
    font-weight: 600;
    font-size: 20px;
    color:#293B4D ;
   
}

.beforFooter .iconsParentBoxs .iconBox  .iconsCaption p{
    padding: 5px 0;
    font-size: 17px;
    color: #677581;}

/* ///////////////////////////////////////////////////// */
footer{
    padding: 40px 0  10px;
    background-color: #f7f7f7;
}
.footer-1{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 0 20px;
border-bottom:2px solid #DFE7E8; 
}
/* .footer-1 .title ,.footer-1  .form , .footer-1  .icons{width: 30%;} */
.footer-1 .title h4{
    color:#293B4D ;
    font-weight: 600;
    font-size: 26px;
}
.footer-1 .title h5{
    color:#677581;
    font-size: 16px;
}


.footer-1  .form  input{
    width: 400px;
    padding: 10px ;
    font-size: 18px;
    border: 2px solid #DFE7E8 ;
    transition: .5s;
}
.footer-1  .form  input:hover{ border:1px solid   #677581  }
.footer-1  .form  button{
 margin-left: 10px;
  width: 50px;  
  padding: 10px 0;
  background-color: #E46A4B;
  border: 1px dashed  white;
  color: white;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
    transition: .4s ease ;
}
.footer-1  .form  button:hover{
    transform:translateY(-2px);
    background: #293B4D ;
    box-shadow: 0 5px 12px rgba(41,59,77,.2);

}

.footer-1  .icons i{
    font-size: 20px;
    padding: 10px;
      background-color: white;
      border: 1px dashed  #677581  ;
      border-radius: 50%;
      transition: .3s;
      margin-right: 10px;
      cursor: pointer;
}
.footer-1  .icons i:hover{
    transform: translateY(-3px);
    color: #E46A4B;
}

/* ////////////////////////////////////// */
.footer-2{
    display: flex;
    justify-content: space-between;
    padding:30px 0;
    border-bottom: 2px solid  #DFE7E8; 
}
.footer-2 img{align-self: flex-start;}
.footer-2 p{
    color:#293B4D ;
    font-weight: 500;
    font-size: 20px;
    padding: 0 0 7px;
}
.footer-2 ul{list-style: none;}
    .footer-2 a{
        text-decoration: none;
        color:#677581;
        font-size: 17px;
    }
    .footer-2 li { transition: .3s;  padding: 3px 0;}
    .footer-2 li:hover{transform: scale(1.05);    }
    .footer-2 li:hover a{ color: #E46A4B; text-decoration: underline; }

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

.footer-3{
    text-align: center; 
    font-size: 17px;
    padding: 30px 0;
     color:#677581; }
.footer-3 i{
    margin: 0 5px;
animation-name: heart;
animation-duration: .7s;
animation-iteration-count: infinite;
color:#677581;
}
@keyframes   heart{
    0%{
        transform: scale(1);
        color:#677581;
    }
        25%{
            transform: scale(1.1);
            color:#E46A4B;
        }
         50%{
            transform: scale(1.2);
            color:#E46A4B;
        }
        75%{
            transform: scale(1.3);
            color:#E46A4B;
        }
        100%{
            transform: scale(1.4);
            color:#E46A4B;
        }
}

.footer-3 span {
    color:#E46A4B;
    font-size: 18px;
    font-weight: 500;
    transition: .3s;}
    .footer-3 span:hover{letter-spacing: 2px;
        text-decoration: underline;}